In [17]:
import os
import pandas as pd
import numpy as np
import time
import cv2
import tensorflow as tf
import keras.backend as K
import keras

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
from tensorflow.python.client import device_lib 
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 14149827485771112945
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 3665166336
locality {
  bus_id: 1
  links {
  }
}
incarnation: 2581587338950538061
physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 3060 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.6"
]

In [3]:
data_path="dataset/"
data=pd.read_csv(data_path+"label.csv")
file_names=list(data['file_name'])
labels=list(data['label'])

In [4]:
data.label.unique()

array(['meningioma_tumor', 'no_tumor', 'glioma_tumor', 'pituitary_tumor'],
      dtype=object)

In [5]:
len(data.label.unique())

4

In [7]:
data

           file_name             label
0     IMAGE_0000.jpg  meningioma_tumor
1     IMAGE_0001.jpg          no_tumor
2     IMAGE_0002.jpg  meningioma_tumor
3     IMAGE_0003.jpg      glioma_tumor
4     IMAGE_0004.jpg  meningioma_tumor
...              ...               ...
2995  IMAGE_2995.jpg          no_tumor
2996  IMAGE_2996.jpg  meningioma_tumor
2997  IMAGE_2997.jpg      glioma_tumor
2998  IMAGE_2998.jpg      glioma_tumor
2999  IMAGE_2999.jpg   pituitary_tumor

[3000 rows x 2 columns]

In [8]:
data['tumor_label'] = data['label'].apply(lambda x: "no_tumor" if x == "no_tumor" else "tumor")

In [9]:
data = data.drop(columns = ['label'])

In [10]:
data

           file_name tumor_label
0     IMAGE_0000.jpg       tumor
1     IMAGE_0001.jpg    no_tumor
2     IMAGE_0002.jpg       tumor
3     IMAGE_0003.jpg       tumor
4     IMAGE_0004.jpg       tumor
...              ...         ...
2995  IMAGE_2995.jpg    no_tumor
2996  IMAGE_2996.jpg       tumor
2997  IMAGE_2997.jpg       tumor
2998  IMAGE_2998.jpg       tumor
2999  IMAGE_2999.jpg       tumor

[3000 rows x 2 columns]

In [11]:
labels=data['tumor_label'].values.reshape(-1,1)

In [14]:
ohe = OneHotEncoder(handle_unknown = "ignore", sparse=False)
ohe_labels = ohe.fit_transform(labels)

In [15]:
dataset_tumor=[]

for file_index in range(len(file_names)):
    file=cv2.imread(data_path+"/image/"+file_names[file_index])
    file_resize=cv2.resize(file,(128,128))/255.
    dataset_tumor.append(file_resize)

In [18]:
tumor_data = np.array(dataset_tumor)
x_train,x_test,y_train,y_test=train_test_split(tumor_data,ohe_labels,test_size=0.2,random_state=25)